/*
  ========================================
  Custom Styles
  ========================================
*/
body{
    background-color: #74AFAD;
}

/*
  ========================================
  Input Group
  ========================================
*/
.InputGroup
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

/*
  ========================================
  Input
  ========================================
*/
.Search,
.Button{
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    
}

.Button{
    cursor: pointer;
    background-color: #D9853B;
    color:#ECECEA;
}

.Button:hover{
  background-color: #e4a975;
}

.Search {
   border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
}

/*
  ========================================
  Post
  ========================================
*/
.Post {
    width: 100%;
    text-align: left;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    max-width: 800px;
    margin: 10px;
    background-color: white;
    box-sizing: border-box;
    cursor: pointer;
    list-style-type: none;
    transition: .2s ease-out all;
}