/*
  ========================================
  Custom Styles
  ========================================
*/
body{
    background-color: #74AFAD;
    font-weight: bold;
}
/*
  ========================================
  Input Group
  ========================================
*/
.InputGroup
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

/*
  ========================================
  Input
  ========================================
*/
.Search,
.Button{
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

.Button{
    cursor: pointer;
    font: inherit;
    background-color: #D9853B;
    color:#ECECEA;
  
}

/*
  ========================================
  Post
  ========================================
*/
.Post {
    width: 150px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}